<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>

  <title>Sleep Sync</title>
 
  <script src="/js/calendar.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <style>
        body {
          -webkit-animation: colorchange 20s infinite;
          animation: colorchange 20s infinite;
        }
        @-webkit-keyframes colorchange {
          0% {
            background: #42bfa2a6;
          }
          25% {
            background: #095484;
          }
          50% {
            background: #1c87c9;
          }
          75% {
            background: #6c017ae7;
          }
          100% {
            background: #1288a9bc;
          }
        }
      </style>
</head>

<body>
  <header>
    <nav>
      <h1>SleepSync</h1>
      <a href="/login">Login</a>
      <a href="#NAV3">Nav3</a>
      <a href="#NAV4">Nav4</a>
    </nav>
    </header>
    {{!-- {{#if logged_in}} --}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
  
    <div class="card">
        <div class="card-header">
            <h2>User Profile</h2>
        </div>
        <div class="card-body">
          <textarea id="text" placeholder="Enter Player Info" style="width: 250px;height: 150px;text-align:center"></textarea>
         </div>
    </div>
</div>
<div class="first">
    {{!-- <h2> Leaderboard</h2>
    
    <textarea id="text" placeholder="Leaderboard"style="width: 985px; height: 300px;text-align:center"></textarea> --}}

 <div id='calendar'></div>  
 
<div class="second">
        <h2> User Input</h2>
        <textarea id="text" placeholder= "User Input"style="width: 384px; height: 311px; text-align:center"></textarea>
        
</div>

<div class="third">
    <h2> User Tips</h2>
        <textarea id="text" placeholder="Sleep Tips" style="width: 384px; height:311px; text-align: center;"></textarea>

        </div>
          


  {{!-- {{/if}} --}}

    {{{ body }}}
   
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
